.mp-resize {
  position: fixed;
  inset: 0;
  background-color: var(--color--surface);
  transition: var(--transition);
}

.mp-resize__hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.mp-resize__visible {
  visibility: visible;
  opacity: 0.6;
  z-index: 60;
}
