.mp-hero {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  gap: 0.5rem;
  padding-block: var(--spacing--hero);
  height: var(--height);
}

.mp-hero__inner {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing--03);
}

.mp-hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .mp-hero {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .mp-hero__inner {
    grid-column: 2 / span 6;
  }
}

@media (min-width: 905px) {
  .mp-hero {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .mp-hero__inner {
    grid-column: 3 / span 8;
  }
}
