.mp-header {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  z-index: 30;
  padding-block: var(--spacing--02);
  padding-inline: var(--spacing--03);
}

.mp-header__start {
  display: flex;
  justify-content: flex-start;
  grid-column: 1 / span 2;
}

.mp-header__end {
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / span 2;
}

@media (min-width: 600px) {
  .mp-header {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .mp-header__start {
    grid-column: 1 / span 4;
  }
  .mp-header__end {
    grid-column: 5 / span 4;
  }
}

@media (min-width: 905px) {
  .mp-header {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .mp-header__start {
    grid-column: 1 / span 6;
  }
  .mp-header__end {
    grid-column: 7 / span 6;
  }
}
